* { box-sizing: border-box; }

.item {
  float: left;
   border: thin solid blue;
}

#menu {
  border: thin solid black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid red; }

.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}

